{% extends 'layout.html' %}
{% block content %}

{% include '_messages.html' %}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="admin">Adminskeidaa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Addproduct">Add product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="ordershow">Show orders</a>
      </li>
    </ul>
  </div>
</nav>
</div>



<div class="container">
    {% include '_messages.html' %}
        {% from "_formhelpers.html" import render_field %}
        <form method="post" enctype="multipart/form-data">
            {{ render_field(form.img_amount, class="form-control" , placeholder="Amount of images displayed") }}
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">{{ render_field(form.image_1, class="form-control") }}</div>
                        <div class="col-md-6">{{ render_field(form.image_2, class="form-control") }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ render_field(form.image_3, class="form-control") }}</div>
                        <div class="col-md-6">{{ render_field(form.image_4, class="form-control") }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ render_field(form.image_5, class="form-control") }}</div>
                        <div class="col-md-6">{{ render_field(form.image_6, class="form-control") }}</div>
                    </div>
                </div>
            <p><input type=submit value=Update class="btn btn-info"></p>
        </form>
</div>



{% endblock content %}