{% extends 'layout.html' %}
{% block content %}
{% include '_messages.html' %}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="admin">Adminskeidaa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Addproduct">Add product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="showproducts">show products</a>
      </li>
    </ul>
  </div>
</nav>
</div>
<div class="container">
    <table class="table table-sm">
        <thead>
            <th>ID</th>
            <th>name</th>
            <th>email</th>
            <th>address</th>
            <th>zipcode</th>
            <th>phone</th>
            <th>item_quantities</th>
            <th>ordered?</th>
            <th>sent to customer?</th>
        </thead>
        <tbody>
            {% for order in orders%}
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.name}}</td>
                <td>{{order.email}}</td>
                <td>{{order.address}}</td>
                <td>{{order.zipcode}}</td>
                <td>{{order.phone}}</td>
                <td>{{order.item_quantities}}</td>
                <form action="{{url_for('updateorder_ordered', code=order.id)}}" method="post">
                    {% if order.is_ordered == 1 %}
                    <td><button class="btn btn-sm btn-info" href="#">khyl</button></td>
                    {% else %}
                    <td><button class="btn btn-sm btn-warning" href="#">ei</button></td>
                    {% endif %}
                </form>
                <form action="{{url_for('updateorder_sent', code=order.id)}}" method="post">
                    {% if order.is_sent == 1 %}
                    <td><button class="btn btn-sm btn-info" href="#">khyl</button></td>
                    {% else %}
                    <td><button class="btn btn-sm btn-warning" href="#">ei</button></td>
                    {% endif %}
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}